/* Paleta de colores: https://colorhunt.co/palette/f47c7cef9f9ffad4d4fff2f2 */


#cardResultado1, #cardResultado2, #cardResultado3  {
    visibility: hidden;
}

body {
    background-image: linear-gradient(to bottom right, #FAD4D4, #FFF2F2);
}

main {
    padding-top: 20px;
}

header {
    background-image: linear-gradient(to bottom right, #F47C7C, #EF9F9F);
}

.cards, .imagenes, footer div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.botonVolverArriba {
    border: 1px solid #F47C7C;
    background-image: linear-gradient(to bottom right, #F47C7C, #EF9F9F);
}

.card {
    background-image: linear-gradient(to bottom right, #F47C7C, #EF9F9F);
}
